<div class="data"></div>

<div class="history" style="border: #85b0b7 solid 1px; height: 100px; display: none; padding: 5px; overflow-y: auto;"></div>

<hr>

<table width="100%">
    <tr>
        <td align="left">
            <input class="cancel_button" type="button" value="Отменить">
            <input class="history_button" type="button" value="История">
            <input class="back_button" type="button" value="Назад" style="display: none;">
            
            <input class="proveeditor_button" type="button" value="Подтвердить на уровне редактора" style="display: none;">
            <input class="provemaineditor_button" type="button" value="Подтвердить на уровне главного редактора" style="display: none;">
            <input class="sendtoproveeditor_button" type="button" value="Отправить на утверждение редактору" style="display: none;">
            <input class="sendtoprovemaineditor_button" type="button" value="Отправить на утверждение главному редактору" style="display: none;">
            <input class="returnwriter_button" type="button" value="Вернуть на доработку писателю (рядовому журналисту)" style="display: none;">
            <input class="returneditor_button" type="button" value="Вернуть на доработку редактору" style="display: none;">                                    
        </td>
        <td align="right">
            <input class="submit_button" type="button" value="Сохранить">
        </td>
    </tr>
</table>