<div align="left" style="background-color: #ffffff;">

    <br>
    <div align="left">Раздел <b>${node_title}</b>. ${dialog_caption}</div>
    <br>

    <div class="form"> 

        {{each modules}}
        <div id_module="${$value.id}" module_type="${$value.module_type}" language="${$value.language}" class="tab {{if $index == 0}}current{{/if}} ${$value.css_tab}">${$value.title} * (${$value.language})</div>
        {{/each}}

        <div class="clear"></div>

        <div class="container">

            <div class="contents inner"></div>

        </div>

        <br>

    </div>  

</div>