   
                        <div class="data">
                            
                            Причина:<br></br>    
                            <textarea class="reason" style="width: 100%"></textarea>
                            
                        </div>


                        <hr>

                        <table width="100%">
                            <tr>
                                <td align="left">
                                    <input class="back_button" type="button" value="Назад" style="">
                                </td>
                                <td align="right">
                                    <input class="return_button" type="button" value="Вернуть на доработку">
                                </td>
                            </tr>
                        </table>