<div style="background-color: #ffffff; ">

    <br>
    <div align="left">Раздел <b>${node_title}</b>. Создание потомка.</div>
    <br>

    <div class="select_module c">
        <h2>Выберите модуль будущего узла</h2><br>
        <select name="module_id" style="width: 300px;">
            {{each option}}
            <option value="${$index}">${$value}</option>
            {{/each}}
        </select>        
        <br><br>
        <div align="center"><input class="submit_button" type="button" value="Далее"></div>        
    </div>     

    <br><br>              
</div>