<div align="left" style="background-color: #ffffff;">
   
    <div style="border: #000000 solid 1px; padding: 10px;"> 

       <div align="left">Пользователи</div>

       <div align="center"><input class="add_button" type="button" value="Добавить"></div>
       <br>

       <table width="100%" border="1" cellspacing="0" cellpadding="4">
           <thead> 
           <tr style="background-color: #F0F2E6">
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Логин</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Тип</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Имя</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Фамилия</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">e-mail</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Группа</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Действия</td>
            </tr>
            </thead>
            <tbody id="users_list_id"></tbody>
        </table> 
           
        <br>
        <div align="center"><input class="cancel_button" type="button" value="Закрыть"></div>  
  
    </div>  
           
</div>