<tr>
    <td style="border: #000000 solid 1px;padding: 4px;">${us_login}</td>
    <td style="border: #000000 solid 1px;padding: 4px;">${us_type}</td>
    <td style="border: #000000 solid 1px;padding: 4px;">${us_fname}</td>
    <td style="border: #000000 solid 1px;padding: 4px;">${us_sname}</td>
    <td style="border: #000000 solid 1px;padding: 4px;">${us_email}</td>
    <td style="border: #000000 solid 1px;padding: 4px;">${gr_title}</td>
    <td align="center" width="250" style="border: #000000 solid 1px;padding: 4px;">
        <input id_user="${us_id}" class="edit_user" type="button" value="Редактировать">
        <input id_user="${us_id}" class="del_user" type="button" value="Удалить">
    </td>
</tr>