 
       <table width="100%" border="1" cellspacing="0" cellpadding="4">
           <thead> 
           <tr style="background-color: #F0F2E6">
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Пользователь</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Группа</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px;">Права группы</td>
                <td align="center" style="border: #000000 solid 1px;padding: 4px; width: 50px;">Действия</td>
            </tr>
            </thead>
            <tbody id="users_list_id"></tbody>
        </table> 
           