    <div class="container"> 
       <h2>Группы</h2>

       <div align="center"><input class="add_button" type="button" value="Добавить"></div>
       <br>
       <table class="contents_table">
           <thead> 
           <tr>
               <th>Имя</th>
               <th>Название</th>
               <th>Права группы</th>
               <th>Действия</th>
            </tr>
            </thead>
            <tbody id="groups_list_id"></tbody>
        </table> 
           
        <br>
        <input class="cancel_button" type="button" value="Закрыть">
    </div>
