<div align="left" style="background-color: #ffffff;">
    <div class="container"> 
       <h2>Входящие сообщения</h2>
       <br>
       <table  class="contents_table">
           <thead> 
           <tr>
                <th>Дата</th>
                <th>От кого</th>
                <th>Тема</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody id="messages_list_id"></tbody>
        </table> 
        <br>
        <input class="cancel_button" type="button" value="Закрыть">
    </div>  
</div>